<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Hello World</title>

</head>
<body class="container">

<header>
   <div class="menu">
       <a class="item" href="/">
         Home
       </a>
       <a class="item" href="/about">
         About
       </a>
   </div>
</header>
