<&percnt;- include('./partials/header'); &percnt;>

<main>
   <div class="X">
       <div class="y">
           <h1>Welcome to the about page</h1>
           <p>Made using EJS</p>
       </div>
       <div class="z">
           <h1>Random information about this page</h1>
       </div>
   </div>
   <h2>Variable Sent from Express</h2>
      <p><&percnt;= variab &percnt;></p>
</main>

<
footer >
  <&percnt;- include('./partials/footer'); &percnt;>
</footer>

  </body>
</html>
