<&percnt;- include('../partials/header'); &percnt;>
<main>
 <div class="ui segment">
   <h1>Welcome to the body of this ejs template</h1>
   <p>The header and footer were created using partials</p>
 </div>
</main>

<
footer >
  <&percnt;- include('../partials/footer'); &percnt;>
</footer>

  </body>
</html>
